{% load static %}
<footer class="footer">
    <div class="footer__wrapper">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-4">
            <div class="footer__info">
              
              <div class="footer__info--logo">
                <img src="{% static 'watchdog/images/happy-logo-banner.png' %}" alt="footer_logo">
              </div>
              
              <div class="footer__info--content">
                <p class="paragraph dark">
                    Make 'em Happy!
                </p>
                
                <div class="social">
                  <ul>
                    {# TODO: populate the links #}
                    <li class="facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul>
                </div>
              
              </div>
            </div>
          </div>
         
          <div class="col-lg-8">
            <div class="footer__content-wrapper">
              <div class="footer__list">
                <ul>
                  <li>Explore the Happy</li>
                  <li><a href="#">About Happy Project</a></li>
                  <li><a href="#">Happy Devs</a></li>
                  <li><a href="{% url 'hub:index' %}">Hub</a></li>
                  <li><a href="{% url 'gallery:index' %}">Gallery</a></li>
                  <li><a href="#">Scholarships</a></li>
                  <li><a href="#">Sponsor</a></li>
                </ul>
              </div>
              
              <div class="footer__list">
                <ul>
                  <li>Help</li>
                  <li><a href="#">FAQs</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Happy Community</a></li>
                  <li><a href="#">Terms of Service</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              
              <div class="download-buttons">
                <h5>Get In</h5>
                {# TODO: populate the routes #}
                <a href="{% url 'clientauth:index' %}" class="google-play">
                  <i class="fad fa-book-reader"></i>
                  <div class="button-content">
                    <h6>LOG IN AS <span>A Student</span></h6>
                  </div>
                </a>
                
                <a href="{% url 'clientauth:index' %}" class="apple-store">
                  <i class="fad fa-chalkboard-teacher"></i>
                  <div class="button-content">
                    <h6>LOG IN AS<span>A Teacher</span></h6>
                  </div>
                </a>
              </div>
            
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="footer__copy">
            <h6>&copy; HAPPY DEVS 2021</h6>
          </div>
        </div>
     
      </div>
    </div>
  </footer>