{% load static %}
<header class="header header-1">
    <div class="container">
      <div class="header__wrapper">
        <div class="header__logo">
          <a href="index-2.html">
            <img src="{% static 'watchdog/images/footer-logo.png' %}" alt="logo">
          </a>
        </div>
        <div class="header__nav">
          <ul class="header__nav-primary">
            <li><a href="#"><i class="fad fa-home-alt"></i></a></li>
            {% comment %} <li><a href="#video">Home</a></li> {% endcomment %}
            <li><a href="#video">Video</a></li>
            <li><a href="#feature">Features</a></li>
            <li><a href="#feedback">Feedbacks</a></li>
            <li><a href="#faq">FAQs</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a href="#preview">Preview</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Hub</a></li>

          </ul>
          <span><i class="fas fa-times"></i></span>
        </div>
        <div class="header__bars">
          <div class="header__bars-bar header__bars-bar-1"></div>
          <div class="header__bars-bar header__bars-bar-2"></div>
          <div class="header__bars-bar header__bars-bar-3"></div>
        </div>
      </div>
    </div>
  </header>