{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
      {% if page_title %}
        {{page_title}}
      {% else %}
        Happy Project | Make 'em Happy:)
      {% endif %}
  </title>

  {# TODO: add favicon and manifest file #}
  {% comment %} <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/favicon/site.html"> {% endcomment %}

  {% comment %} stylesheet {% endcomment %}
  <link rel="stylesheet" href="{% static 'watchdog/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'watchdog/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'watchdog/css/swiper-bundle.min.css' %}">
  <link rel="stylesheet" href="{% static 'watchdog/css/style.css' %}">
</head>