{% load static %}
<header class="header header-1">
    <div class="container">
      <div class="header__wrapper">
        <div class="header__logo">
          <a href="{% url 'home:index' %}">
            <img src="{% static 'watchdog/images/footer-logo.png' %}" alt="main_logo">
          </a>
        </div>
        <div class="header__nav">
          <ul class="header__nav-primary">
            <li><a href="{% url 'home:index' %}">Home</a></li>
            <li><a href="{% url 'gallery:index' %}">Gallery</a></li>
            <li><a href="{% url 'hub:index' %}">Hub</a></li>
          </ul>
          <span><i class="fas fa-times"></i></span>
        </div>
        <div class="header__bars">
          <div class="header__bars-bar header__bars-bar-1"></div>
          <div class="header__bars-bar header__bars-bar-2"></div>
          <div class="header__bars-bar header__bars-bar-3"></div>
        </div>
      </div>
    </div>
  </header>