{% load static %}
<section class="hero">
    <div class="hero__wrapper">
      <div class="container">
        <div class="row align-items-lg-center">
          <div class="col-lg-6 order-2 order-lg-1">
            <h1 class="main-heading color-black">Progress on the fingertips!</h1>
            <p class="paragraph"><span>Zapper<sup>TM</sup></span> is an app that helps you organize
              yourself on the daily basis using systematic
              algorithms to achieve success.</p>
            <div class="download-buttons">
              <a href="#" class="google-play">
                <i class="fab fa-google-play"></i>
                <div class="button-content">
                  <h6>GET IT ON <span>Google Play</span></h6>
                </div>
              </a>
              <a href="#" class="apple-store">
                <i class="fab fa-apple"></i>
                <div class="button-content">
                  <h6>GET IT ON <span>Apple Store</span></h6>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <div class="questions-img hero-img">
              <img src="{% static 'watchdog/images/phone-01.png' %}" alt="image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>