{% load static %}
<section class="hero">
    <div class="hero__wrapper">
      <div class="container">
        <div class="row align-items-lg-center">
          <div class="col-lg-6 order-2 order-lg-1">
            <h1 class="main-heading color-black">Everything at your ease😊</h1>
            <p class="paragraph">
              <span>Happy Project</span> is a non-profit project that aims at needy-students
              in locale and help them educational wise.
              <br/> Here, you can request-obtain-assist
              as a Student or Teacher.
            </p>
            <div class="download-buttons">
              <a href="{% url 'hub:index' %}" class="apple-store">
                <i class="fas fa-chalkboard-teacher"></i>
                <div class="button-content">
                  <h6>LOG IN AS<span>A Teacher</span></h6>
                </div>
              </a>
              
              <a href="{% url 'hub:index' %}" class="google-play">
                <i class="fas fa-book-reader"></i>
                <div class="button-content">
                  <h6>LOG IN AS <span>A Student </span></h6>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <div class="questions-img hero-img">
              <img src="{% static 'watchdog/images/phone-01.png' %}" alt="image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>