<section class="growth" id="feature">
    <div class="growth__wrapper">
      <div class="container">
        
        <h2 class="section-heading color-black">
          How-Tos
          <br/>
          Happy Project for YOU!
        </h2>
        
        {# Compilation of `howtos` dynamically #}
        {# To alter the texts, alter `home.views.HomeView._howtos` #}
        <div class="row">
          {% for howto in howtos %}
          <div class="col-lg-6">
            <div class="growth__box">
              <div class="icon">
                <i class="fad fa-{{howto.icon}}"></i>
              </div>
              <div class="content">
                <h3>
                  {{howto.title}}
                </h3>
                <p class="paragraph dark">
                  {{howto.text}}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        
        <div class="row">
          <div class="button__wrapper">
            
            {# TODO: navigate to signup #}
            <a href="{% url 'clientauth:join' %}" class="button">
              <span>
                GET STARTED 
                <i class="fad fa-long-arrow-right"></i>
              </span>
            </a>
           
            {# TODO: navigate to gallery and filter blogs for howtos #}
            <a href="{% url 'gallery:index' %}" class="button">
              <span>
                LEARN MORE 
                <i class="fad fa-long-arrow-right"></i>
              </span>
            </a>
          
          </div>
        </div>
      
      </div>
    </div>
  </section>