{% extends 'watchdog/base.html' %}
{% load static %}

{% block children %}
  
  {# hero section #}
  {% include 'home/hero_section.html' %}
  
  {# feature section #}
  {% include 'home/feature_section.html' %}

  {# growth section #}
  {% include 'home/growth_section.html' %}

  {# step section #}
  {% include 'home/steps_section.html' %}

  {# faq section #}
  {% include 'home/faq_section.html' %}

  {# screenshots section #}
  {% include 'home/screenshots_section.html' %}

  {# latest blogs section #}
  {% include 'home/latestBlogs_section.html' %}

{% endblock children %}