{% load static %}

<header class="header-personal">
        <div class="container-xl header-top">
			<div class="row align-items-center">

				<div class="col-4 d-none d-md-block d-lg-block">
					{# social icons #}
					<ul class="social-icons list-unstyled list-inline mb-0">
						<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>

				<div class="col-md-4 col-sm-12 col-xs-12 text-center">
					<a class="navbar-brand" href="{% url 'home:index' %}"><img src="{% static 'watchdog/images/happy-logo-banner.png' %}" alt="happy-project-foundation_logo" /></a>

					{# TODO: change url to navigate to the profile edit #}
					<a href="{% url 'api:soon' %}" class="d-block text-logo">{{ name | upper | truncatewords:3}}<span class="dot">.</span></a>
					<span class="slogan d-block">{{ motto | title }}</span>
				</div>

				<div class="col-md-4 col-sm-12 col-xs-12">

					<div class="header-buttons float-md-end mt-4 mt-md-0">
						
						{# search button #}
						<button class="search icon-button">
							<i class="icon-magnifier"></i>
						</button>

                        {# search button #}
						<button class="logout icon-button ms-2 float-end float-md-none">
                            <i class="icon-logout"></i>
						</button>

                        {# hamburger menu #}
						<button class="burger-menu icon-button ms-2 float-end float-md-none">
							<span class="burger-icon"></span>
						</button>
					</div>
				</div>

			</div>
        </div>

		<nav class="navbar navbar-expand-lg">
			<div class="container-xl">
				
				<div class="collapse navbar-collapse justify-content-center centered-nav">
					
					<ul class="navbar-nav">
						<li class="nav-item dropdown active">
							<a class="nav-link dropdown-toggle" href="#">Filter by Resources</a>
							<ul class="dropdown-menu">
								
								{% for resource in resources %}
									<li><a class="dropdown-item" href="?type={{resource}}">{{resource | title }}</a></li>
								{% endfor %}
								
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#">Filter by Subjects</a>
							<ul class="dropdown-menu">
								{% for subject in subjects %}
									<li><a class="dropdown-item" href="?subject={{subject}}">{{subject | title }}</a></li>
								{% endfor %}
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'api:soon' %}">Miscellenous Articles</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'api:soon' %}">Happy Announcements</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'api:soon' %}">Sponsor Happy Project</a>
						</li>
					</ul>
				</div>

			</div>
		</nav>
	</header>