{% load static %}

<section class="main-content">
    <div class="container-xl">

        <div class="row gy-4">
            <div class="col-lg-8">
                <div class="row gy-4">
                    <div class="col-sm-6">

                        {# a post element #}
                        <div class="post post-grid rounded bordered">
                            <div class="thumb top-rounded">
                               
                                <a href="" class="category-badge position-absolute">Lifestyle</a>
                                
                                {# NOTE and TODO: replace `$` with link to the doc #}
                                <a href="$">
                                    <div class="inner">
                                        <img src="{% static 'hub/images/posts/post-md-1.jpg' %}" alt="post-title" />
                                    </div>
                                </a>
                            
                            </div>
                            <div class="details"> 
                                
                                <h5 class="post-title mb-3 mt-3"><a href="$">How To Become </a></h5>
                                <p class="excerpt mb-0">I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence.</p>
                            
                            </div>
                        </div>
                    </div>

                </div>

                {# pagination #}
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">1</span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>
                </nav>

            </div>
            
            {# sidebar #}
            <div class="col-lg-4">
                {% include 'hub/student/sidebar.html' %}
            </div>

        </div>
    </div>
</section>