<div class="search-popup">
	
	<button type="button" class="btn-close" aria-label="Close"></button>
	
	<div class="search-content">
		<div class="text-center">
			<h3 class="mb-4 mt-0">Press ESC to close</h3>
		</div>
	
		<form class="d-flex search-form" action="{% url 'hub:index' %}" method="GET">
			<input class="form-control me-2" type="search" name="search" placeholder="Search and press enter ..." aria-label="Search">
			<button class="btn btn-default btn-lg" type="submit"><i class="icon-magnifier"></i></button>
		</form>
	</div>
</div>