{% load static %}

<section class="blog">
    <div class="blog__wrapper">
        <div class="container">
            <div class="blog__header">
                <div class="row">
                    {% include 'gallery/blog_components/search.html' %}
                
                </div>
            </div>
        </div>
        
        <div class="blog__content">
            <div class="container">
                <div class="row">

                    {% for obj in page_obj %}
                        <div class="col-lg-{% cycle '4' '8' '8 left' %}">
                            <a href="">
                                <div class="blog__single blog__single--{% cycle '1' '2' '3' %}">
                                    <div class="blog__single-image">
                                        <img src="{% static 'watchdog/images/blog-img-1.png' %}" alt="blog_image">
                                    </div>
                                    <div class="blog__single-info">
                                        <h3>{{obj.title}}</h3>
                                        
                                        <p class="paragraph dark">
                                            {{obj.content | truncatewords:10}}
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
            
                    {% endfor %}
                    
                </div>
                
               
            </div>
        </div>

        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="button">
                <span>
                    PREVIOUS
                    <i class="fad fa-long-arrow-right"></i>
                </span>
            </a>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="button">
                <span>
                    NEXT
                    <i class="fad fa-long-arrow-right"></i>
                </span>
            </a>
        {% endif %}
        
    </div>
    
</section>