 <div class="col-lg-3">
    <div class="category__dropdown dropdown-wrapper">
        <div class="category__dropdown-info dropdown-info">
            <h6>Category</h6>
            <i class="fad fa-angle-double-down"></i>
        </div>
        <div class="category__dropdown-box dropdown-box">
            <ul>
                <li>Technology</li>
                <li>Application</li>
                <li>Updates</li>
                <li>Promotions</li>
                <li>Help articles</li>
            </ul>
        </div>
    </div>
</div>