{% load static %}

<div class="col-lg-8">
    <a href="blog-single.html">
        <div class="blog__single blog__single--2">
            <div class="blog__single-image">
                <img src="{% static 'watchdog/images/blog-img-2.png' %}" alt="image">
            </div>
            <div class="blog__single-info">
                <h3>New features coming in 2020 to our app.</h3>
                <h4>12 <i class="fad fa-comment"></i><span>|</span>Dec 17, 2020</h4>
                <p class="paragraph dark">Suisque metus tortor ultricies ac ligula neced
                    eleifend dales felise morbi nec tempor isvel ultricies lideula. </p>
            </div>
        </div>
    </a>
</div>