<div class="col-lg-3">
    <div class="date__dropdown dropdown-wrapper">
        <div class="date__dropdown-info dropdown-info">
            <h6>Date</h6>
            <i class="fad fa-angle-double-down"></i>
        </div>
        <div class="date__dropdown-box dropdown-box">
            <ul>
                <li>December 2020</li>
                <li>November 2020</li>
                <li>October 2020</li>
                <li>September 2020</li>
                <li>August 2020</li>
            </ul>
        </div>
    </div>
</div>