{% extends 'clientauth/common/base.html' %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'clientauth/css/login.css' %}">
{% endblock custom_css %}


{% block children %}
    <div class="form-body without-side">
        
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="{% static 'clientauth/images/graphic3.svg '%}" alt="background_graphics">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Login to continue</h3>
                        <p>Become Happy 😊</p>
                        <p>
                            Hey There👋
                            <br> We emailed you the instruction on reseting the password.
                            You should get them shortly.
                            <br>If you didn't then recheck the email you gave us, or
                            check the spam!

                            <br>Happy Project Foundation
                        </p>
                        <div class="page-links">
                            <a href="{% url 'clientauth:join' %}">Register new account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock children %}