{% extends 'clientauth/common/base.html' %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'clientauth/css/login.css' %}">
{% endblock custom_css %}


{% block children %}
<div class="container">
    <h3>You happily requested Password reset for your account! Here you go! 😊</h3>
    {% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'clientauth:password_reset_action' uidb64=uid token=token %}
    {% endblock %}

    <h3>Thanks for your time with our Happy Project</h3>

    <h3>Yours Happy, <br> Happy Project Foundation</h3>
</div>

{% endblock children %}