{% extends 'watchdog/base.html' %}
{% load static %}

{% block children %}

    

    {# hero section #}
    <section class="hero blog_hero">
        <div class="hero__wrapper blog_hero__wrapper">
            <div class="container">
                <div class="row">
                    <div>
                        <h1>Happy blog.</h1>
                    </div>
                    <div>
                        <ul>
                            <li><a href="{% url 'home:index' %}">Home</a></li>
                            <li><a href="{% url 'gallery:index' %}"><i class="fad fa-long-arrow-right"></i>Gallery</a></li>
                            <li><a href=""><i class="fad fa-long-arrow-right"></i>{{blog.title | upper | truncatewords:2}}</a></li>
                        </ul>
                        <div class="icon">
                            <i class="fad fa-bullhorn"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{# blog element #}
<section class="blog_single">
    <div class="blog_single__wrapper">
        <div class="container">
            <div class="blog_single__content">
                
                {# blog title #}
                <h1>{{blog.title | title}}</h1>
                
                {# blog text #}
                <p class="paragraph dark">
                    {{blog.content}}
                </p>
                
                {# summary #}
                {% if blog.summary %}
                    <h3>Summary</h3>
                    <p class="paragraph dark">
                        {{blog.summary}}
                    </p>
                {% endif %}
           
            </div>
        </div>
    </div>
</section>
    
{% endblock children %}