<div class="tab-pane fade show active" id="step1" role="tabpanel"
     aria-labelledby="step1-tab">
    <div class="form-subtitle">1. Tell Us About you</div>

    <input type="text" class="form-control" name="school" placeholder="Your School (required)" required>
    <input type="text" class="form-control" name="motto" placeholder="A Motto of yours: e.g. Fide et Labore! (required)"
           required>
    <input type="text" class="form-control" name="age" placeholder="Your Age (required)" required>
    <input type="text" class="form-control" name="country" placeholder="Your Country (required)" required>

    <div class="form-button text-right">
        <button id="btn-next" class="ibtn btn-tab-next">Let's Customize</button>
    </div>

</div>