<div class="tab-pane fade" id="step2" role="tabpanel" aria-labelledby="step2-tab">

    <div class="form-subtitle">2. User Experience</div>
    <div class="inline-el-holder">
        <div class="inline-el">
            <label>Interface Language</label>
            <input type="text" name="lang" class="form-control" placeholder="Your Language: e.g. Tamil" required>
            <h6>For supported languages see... <a href="#">Link</a></h6>
        </div>
    </div>

    <div class="separator"></div>
    <div class="form-subtitle">3. Resources</div>
    <div class="form-group">
        <label>Comma-Seperated Names of Resources</label>
        <textarea class="form-control">DoE Past-Pasers,Pilot Papers,Tutorials</textarea>
        <h6>For available resources see... <a href="#">Link</a></h6>
    </div>
    <div class="separator"></div>

    <div class="form-subtitle">4. Subjects</div>
    <div class="form-group">
        <label>Comma-Seperated Names of Resources</label>
        <textarea class="form-control">ICT,Applied Mathematics,Pure Mathematics,Physics</textarea>
        <h6>For available subjects see... <a href="#">Link</a></h6>
    </div>

    <div class="form-button">
        <button id="submit" type="submit" class="ibtn">Let's Rock 'n' Roll</button>
    </div>
</div>
<div class="separator"></div>
<div class="container">
    <div class="row">
        <h5>NOTE ⚠️</h5>
        <h6>
            Please read our <a href="#">Privacy Policy</a> &amp;
            <a href="#">Terms of Service</a>
        </h6>
        <b><h5>By Submitting your details, you implicitly agree
            to both OUR Privacy Policy &amp; Terms of Service</h5></b>
    </div>
</div>
<div class="separator"></div>
